
<% layout('./layouts/boilerplate') %>
<div class="row justify-content-center" >
    <h1 class="text-center">About Her</h1>
    <div class="row descriptionCon">
        <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706268033/paper-sheet-with-blooming-flowers_ru6akp.jpg" alt="" class="img-fluid img-br">
        <span>
            <h1 class="description">Sejal
                <p class="descriptionP ">Cute.Adorable.Strong.Calming.Enchanting.Irresistible</p>
            </h1>
        </span>
    </div>

    <div class="row mt-3">
        <h3>
            <p class="poemfont ">
                This Website is dedicated to my lovely girlfriend "Sejal" who i love so much.
                So here is the poem that i completly stole.
                <div>
                    <div class="row">
                        <div class="col-4">
                    <p class="poemfont ">
                        In the tapestry of time, a name so sweet,
                        Sejal, my love, with you, life's complete.
                        Your smile, a radiant sunbeam in the day,
                        In your presence, worries melt away.
                    </p>
                    <p class="poemfont ">
                        Sejal, a melody that plays in my heart,
                        Every moment with you, a work of art.
                        Eyes that sparkle like stars in the night,
                        With you, everything feels just right.
                    </p>
                    <p class="poemfont ">
                        In the garden of love, you're the blossoming flower,
                        Your touch, a soothing, comforting shower.
                        With each passing day, my love for you grows,
                        Sejal, in my heart, forever it flows.
                    </p>
                    </div>
                    <div class="col ">
                        <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1707044500/DaisySej_yxayap.jpg" alt="" class="img-fluid img-h img-br">

                    </div>
                    </div>
                </div>
            </p>
        </h3>
    </div>
</div>
