<% layout('./layouts/boilerplate') %>
    <h1 class="justify-content-center text-center"> Our Story</h1>
    <div class="row">
        <p>
            Kids, let me share the enchanting tale of how I met the girl of my dreams,
             my future partner. It all began on the 8th of August 1997, the day my beautiful 
             girlfriend graced this world. (I should probably sign a petition to declare this day 
             a government holiday because on that day, an angel landed on Earth.) So, God, in awe of
              her perfection, pondered what gift to bestow upon her. Two years and ten months later, 
              I arrived, setting forth on a journey to find you. After 22 years, 4 months, and 16 days,
              I finally encountered you, sitting in a corner seat of the metro, adorned in a mesmerizing 
              grey kurti (which, by the way, you later corrected was a shade of green – my color blindness explained).
        </p>
        <p>
            I was engrossed in "The Summer I Turned Pretty - Season 2," standing confidently in front of you.
            Our eyes met, and a silent connection unfolded. You discreetly checked me out, and our eyes met once more. 
            Summoning your courage, you approached me, and I, being the handsome, dashing, and gorgeous person that I am, 
            couldn't help but appreciate your initiative. We talked,you told me that your nanihal is near my home and 
            you share your family stories and in those moments, I realized you had always been 
            close to me, throughout my entire life, yet I had been searching for you elsewhere. After exchanging contact information, 
            I was certain I wouldn't reach out for the first three days (thanks to the infamous three-day rule that I've explained a million 
            times). However, fate had other plans, and I accidentally messaged you the very next day, initiating a conversation that hasn't ceased 
            since – even in moments of anger, disappointment, or sheer exhaustion.
        </p>
        <p>
            Meeting you stands as the most incredible thing that ever happened to me. I distinctly remember telling you, 
            after just a week and a half of talking, that I began seeking you in the metro. For a whole week, I traversed 
            from the last couch to the first, searching for you, dedicating myself to finding you. After this unwavering 
            dedication, I finally spotted you, sitting on a corner seat wearing a black t-shirt. I acted cool and approached you, and as we started 
            talking, you quizzed me about your life, like you asked me your name, where do you live what college you went to what was you major in college and what company do you work
             subtly testing whether I remembered every detail. Little did you know, I 
            was already smitten, in love with you. We decided to commute home together, and as you were about to leave, I 
            wanted to ask for your number but hesitated.
        </p>

        <p>
            Upon reaching home, I received a text from you, and we continued conversing into the night. In the
             course of our conversation, you gave me your number, chiding me for not asking directly. I messaged 
             you with a baby penguin GIF saying "HI," and you responded with playful banter about my dramatics. 
             From that day forward, there hasn't been a single day we haven't talked, whether we were angry, 
             disappointed, or simply tired.
        </p>
        <p>
        Skipping through the chronicles of each day our life, otherwise it would be a nine-season-long 
        sitcom, "How I Met You." I know how much you despise that show, let's fast forward to our first date. I vividly remember the 
        fear of asking you out, but with gathered strength, I called and nervously uttered, "Can I take you out on a
         date?" To my relief, you responded with an enthusiastic "Ooooo... Date." For a brief moment, my mind raced with 
         scenarios, anticipating a rejection, but you surprised me with a yes. Believe me when I say, I danced with a whirlwind 
         of emotions – excitement and nervousness collided. Finally, on October 2, 2023, our first date unfolded. Though I was fashionably late,
          you were calling me the entire time, expressing concern about the eyes upon you. When I finally saw you, the happiness overwhelmed me, and I 
          handed you a flower. Our evening together was magical, filled with laughter and connection. As we walked toward the metro station, 
          even that short distance felt like the most beautiful journey. I dropped you off at your nearest station, and that night, 
          sleep eluded me as I replayed the day's events in my mind.
        </p>

        <p>
        Everything seemed perfect until October 23, a day etched in my memory – the day we had our first fight. 
        The night felt endless, fraught with emotions, but even amidst the turmoil, you messaged me, detailing your 
        experiences at the Mela near your home. Despite my fear of Ferris wheels, during the Mela rides, my thoughts 
        were solely on wishing you were there with me. After the fight, we resumed our conversations as if nothing had happened. 
        Then came the next working day, and the realization hit me – seeing you daily without being with you would be agonizing. 
        I walked away from the metro after ensuring you boarded, and as you noticed my absence, you too alighted at the next station. 
        When you suggested we meet to sort things out, my heart debated with my brain. Eventually, I followed my heart, leading to the best
         decision I ever made. We patched things up and embarked on our second date on October 28, filled with laughter and profound conversations.

        </p>

        <p>
        After a few weeks, Diwali week arrived, and I saw you in a suit for the first time. Believe me when I say this, you looked like
        a goddess, and I couldn't tear my eyes away. My heart raced the entire time, especially when you took my hand and began rubbing it with your thumb. 
        The peacefulness it brought made me so happy, and as we were about to leave for our offices, all I wanted to do was hug you and express how much I 
        love you. The day felt endless because I couldn't wait to see you again. So, I decided to surprise you by coming down to your office to pick you up, 
        even though I had no idea where it was. Ignoring my masculine pride, I tried various modes of transportation, from auto to bike, and even resorted to Google 
        Maps while walking towards your office.
        </p>

        <p>
        To my fortune, I spotted you approaching with all the parcels mistakenly sent to your office address. Being the good boyfriend I am, I took all
         the parcels from you, and we hopped into an auto. That auto ride turned out to be the most beautiful one I'd ever experienced – you
          in that stunning suit, us engaged in delightful conversation. I wished for that ride to last forever, taking us to
           our destination, but alas, it came to an end. I recall that you had plans with a friend that day, and all I wanted to say
            was, "Sej, don't go with him. Let me take you out today." Unfortunately, I also had family plans, and I couldn't help but think
            , "God, why today? Why not another day when I could have taken you out?"
        </p>

        <p>
        Then came Diwali, and you called me to talk. We discussed how good I am, how I take care of my home, 
        and the beautiful rangoli I made. We hung up because you had to get ready for Diwali pooja, and something 
        incredible happened – you video called me to showcase your Diwali outfit. You were wearing a light red suit 
        with a chunni and the earrings I had given you – those massive earrings. I won't lie at that moment, it felt 
        like you were mine and mine only. Our November went exceptionally well.
        </p>
        <p>
        In the first week of December, I had a convocation. I remember updating you on everything that happened, like how
         I hurt my hand. Your concern touched me deeply, and when we met afterward, you checked my hand and said, "Pagal kahi ka." 
         That line felt incredibly heartwarming. On the first long weekend of December, we both went to Jaipur, albeit
          separately – you with your office people, and I with my family. Despite being physically apart, we both
           felt the ache of missing each other. Talking to you at the end of every day during that weekend was mesmerizing. 
           Then, in December, after that trip, you pulled a back muscle. Seeing you in that much pain, I wanted to do 
           something for you, but I ended up irritating you, for which I apologize. Then came the 24th of December when I met your
            sister. Introducing me to her, you overwhelmed my heart with emotions.
        </p>

        <p>
        You, me, and your sister went out and had so much fun. We shared the story of how we met, and I behaved exactly as you had advised
         me the day before. I even picked you up in front of her to showcase my strength. After dropping you off at your home,
          we talked until 3 am, where you confessed that I make you happy, and you wished to hug me right at that moment. 
          After Christmas, a miracle happened – your manager was absent from the office for two days. So, you asked me to grab
           a bite together at lunchtime, and I couldn't have been happier. I told you I was bringing the bike, but you preferred walking
            over sitting on a bike. As you approached our lunch date destination, your auto ride dropped you far from the intended spot. Coming
             to your rescue on that bike, I convinced you that I wouldn't drop you. We went to the destination, and the time we spent together
              at that café was incredibly soothing. I remember ordering a heart-shaped pizza (as I revealed to you later), and when
               it arrived, you made that adorable face – closing your lips, swinging your head left and right slowly, making a dish
                out of your one hand, imitating eating with your other hand, and saying "hmmmmm." After that, you playfully slapped me and said
                , "Feed me." We also went out for lunch the next day, where we relished chole bhature. Those two days were blissful, and as
                 I was on my way to drop you at your office, we goofed around. The remaining days of 2023 went splendidly.
        </p>
        
        <p>
        Enter January of 2024 – on the first day, you brought me moongdal halwa that you made. On the 3rd of January, 
        you went to Agra for three days, and those three days felt like an eternity to me. Communication was a challenge, but
         when you returned, I was engrossed in work. I went to Agra for the entire month of January, and we both missed 
         each other. Towards the end of January, on the 31st, both of us took a half-day from our offices to spend some 
         alone time. We went to Jorbagh, a place you wanted to take me, and then for a walk, where you showed me some graffiti. 
         Since then, we have been happy.
        </p>

        <p>
            One more thing, baby, I know I'm not perfect, but I'm trying. When you're by my side, I feel invincible. I can do anything, conquer anything. I'll be better for you. I had never met someone like you, and frankly, I never want to because I have you as my partner.
        </p>
          

        <h1>I want to ask you something so please press the button below this text ma'am</h1>
        <div class="row justify-content-center my-4">
            <div class="col-4">
                <a href="/Canibeyourvalentine" class="btn btn-danger">
                    Will You
                </a>
            </div>
        </div>