<% layout('./layouts/boilerplate') %>
    <h1 class="text-center"> 10 Things I love About You</h1>
    <div class="row">
        <table>
            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        Your personality is truly one-of-a-kind I've never encountered someone as calming, nurturing, and strong as you. It's a magnificence that captivates me. What I find most enchanting is your ambition – the most beautiful aspect of who you are. I never thought I'd meet someone who could match my spirit of ambitions. I vividly recall our conversation about various matters, and when you shared that you always feel destined for more, it resonated with me deeply. Hearing those words, I fell even more in love with you.

                        I want you to know that I'm committed to working hard, not just for myself, but also so you won't have to bear unnecessary burdens. My goal is to strive for the fulfillment of our dreams, ensuring they come true so that you don't have to carry that weight alone. With you by my side, I believe we can conquer anything together.                    
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        Your aura is truly something special. Believe me when I say that you've transformed the shy guy I used to be. When I'm around you, I become a completely different person, and I love that version of myself – the Kartik that you've brought to life. Being with you feels different it feels real. You have a remarkable way of making me feel comfortable and bringing out the best in me. I cherish the authenticity and warmth that permeates every moment when we're together.                    
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        Your smile has an incredible power – it brings me so much joy that, at times, I find myself momentarily forgetting about my own problems. The warmth and radiance in your smile create a haven of happiness, and in those moments, everything else fades away. It's a testament to the profound impact you have on my life, and I can't help but be grateful for the sheer delight your smile brings into my world.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        The way you handle people is truly admirable. I vividly remember the first time I met you I was nervous and stumbling over my words. Yet, you exuded such calmness and composure that it instantly instilled a bit of confidence in me. Your ability to handle situations with grace and make others feel at ease is one of the many reasons why I appreciate and admire you.
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        How could I ever forget that adorable little nose scrunch you do when you're happy? It's like your nose has this delightful way of shrinking while you smile, and experiencing that is like a glimpse of heaven. Oh, and the way you eat, it's beyond endearing. I thought you couldn't get any cuter, but watching you eat is so calming and sweet.
                        ​This one is personal when you wear pink it feels like I'm looking at an angel from heaven.                    
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        On a more personal note, when you wear pink, it's as if I'm beholding an angel descended from heaven. The color complements your aura so perfectly, and it's a sight that never fails to captivate me. It's these little details about you that make every moment we share even more special and cherished.          
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        It's enchanting to witness your baby side – I know you use your full brain cells when you're with me, but there are those precious moments when you playfully shut down your brain and embrace the complete innocence of a child. Those instances are a delightful reminder of the carefree and joyful moments we share together, and it adds a unique and heartwarming dimension to our connection. Your ability to switch between the thoughtful and the playful showcases the beautiful depth of who you are, and I adore every aspect of it.                    
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        Your walk is nothing short of magnificent – it's so captivating that I find myself breathless. I've only witnessed that mesmerizing walk a few times, but each time, it leaves me in awe. If someone doesn't call an ambulance, I might just go down from the sheer impact of that graceful and alluring stride of yours. It's like watching poetry in motion, and I can't help but be completely enamored by the sheer elegance and allure you exude with every step.

                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        Your intelligence is undeniably attractive. The way your mind works, the depth of your thoughts, and the smartness you bring into every conversation, it's alluring in a way that's hard to put into words. Your sharpness and quick-witted nature are like a magnetic force that draws me in. I find myself irresistibly attracted to your intellect, and the way you navigate through challenges with such grace only adds to the admiration I feel for you. It's not just about being physically attractive your brilliance is an enchanting quality that elevates our connection to a whole new level.                    
                    </p>
                </td>
            </tr>
            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        The way you smell is etched into my memory. I vividly recall the first time I got close enough to breathe in your scent, and to this day, that fragrance lingers in my mind. Sometimes, when I wake up, I swear I can still catch the delicate traces of your fragrance. Trust me, that scent has become a source of inspiration for my dreams, and it wraps me in a comforting embrace, leaving me yearning for more moments to be enveloped in your captivating aroma.                    
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        Your laughter is an absolute treasure. When you laugh, it's not just the room that lights up it feels like my entire world is illuminated. There's something so infectious and heartwarming about the sound of your laughter that I find myself falling in love with you all over again. It's a melody that brings joy and warmth to every moment we share, and I cherish the way your laughter becomes a soundtrack to the most beautiful chapters of our story.                    
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        Your eyes are like a universe within themselves – a deep, medium brown that holds the vastness of the galaxy and the breathtaking beauty of nebulae. Gazing into those eyes feels like getting lost in a cosmic wonder, where every glance reveals a new constellation of emotions and mysteries. They hold a depth that captivates me, and the warmth and richness of that brown hue create a cosmic allure that is truly mesmerizing. It's as if your eyes hold the secrets of the universe, and I find myself endlessly drawn to explore their depths.                    
                    </p>
                </td>
            </tr>
            

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        Your hair is a marvel – silky strands that feel like touching a waterfall, so calming and soothing. Running my fingers through those strands is like experiencing the gentle flow of a waterfall, and it creates a sense of tranquility that envelops me. The softness and grace of your hair add another layer to the sensory symphony of our connection, making every touch a moment of serenity and beauty.                    
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        Your height is one of the many things I love about you. The fact that you're taller than me adds a unique and delightful dynamic to our connection 😂. There's something inherently charming and comforting about looking up to you, both figuratively and literally(This one is true). It adds to the sense of strength and security that you bring into my life, and I find it endearing to stand beside someone who not only captures my heart but also towers over me with grace and elegance. It's just another reason why being with you feels so wonderfully right.
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        That subtle lip-biting habit of yours when I speak, as if you're unconsciously absorbing every word with such attentiveness, is an utterly adorable detail. Just so you know, I've caught onto that charming gesture, and it never fails to add an extra layer of sweetness to our conversations.                   
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        The way you assert your authority over me, whether subtly or overtly, carries a magnetic allure. There's an undeniable charm in the confidence and strength you exude, creating a dynamic where your command becomes a captivating aspect of our connection. It adds a thrilling edge to our interactions, leaving me willingly captivated by the irresistible force of your authority.
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        Your anger, even if it's a rare occurrence and you've mentioned not showing it to me often, holds a mysterious allure. The idea that beneath the calm exterior, there's a passionate force adds a layer of complexity to your personality. While I may not witness it frequently, the mere knowledge of this hidden intensity heightens the intrigue and deepens my understanding of the multifaceted person you are.
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        Your voice is etched into the core of what made me fall for you.
                         I remember the first time, amidst a crowd, I picked up on the melodic 
                         tones of your voice as you conversed with your colleague. It was then 
                         that I found myself captivated by the unique warmth that set your voice 
                         apart. And, oh, the Friday nights when you sang for me - it's a beautiful 
                         memory that I hold close to my heart. Each note and melody from your lips 
                         is a cherished moment that resonates with the essence of our connection.                    
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        The fact that you're older and more mature than me is something I find incredibly attractive. Your wisdom and life experience add a richness to our connection.
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        
                    I absolutely adore the way time seems to fly when I'm with you. Every moment in your company feels like a fleeting second, and it's a testament to the joy and fulfillment you bring into my life. The shared laughter, conversations, and the sheer comfort of being together create a time warp where the outside world fades away, and all that matters is the precious time we spend together.
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        The sensation of holding your hands is truly enchanting; it's like a surge of electricity that makes my heart beat faster. Feeling the warmth and connection through our intertwined fingers is a simple yet profound joy that never fails to ignite a beautiful symphony within me. i know i know stupid kartik.                     
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        When you hug me, I don't know how to express that feeling, but i forgot everything that is happening in my life.
                    
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        The way you place your hand over my chest as we talk, drawing closer, has a profound effect on me. In those moments, I feel an unspoken strength, as if the proximity of your touch infuses me with a powerful energy.                     
                    </p>
                </td>
            </tr>


            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        How can I forget that gesture you do when you explain to me how much you love food and try to imitate eating with your hands you make a dish with your right hand and use your left hand to eat that imaginary food and nod your head and say hmmmmm.
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        I absolutely love it when you're filled with energy, playfully warning me with a "ghussa aa rha hai, ghusa kha lega" and then, in a not-so-typical manner, you make a fist. The way you swing it in front of my face, demonstrating what's coming my way, and playfully giving me a jab is not just amusing but incredibly endearing.                    
                    </p>
                </td>
            </tr>


            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        I can't help but smile when you playfully grab my tummy, shaking it with your whole body strength, asserting that I'm the stronger one between us. Your playful exclamation of "oho maza aagya" and the loving slap, all in good fun for not having a big tummy, adds a touch of lightness and laughter to our moments together.                    
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        That adorable expression you make, where you bring out your lower lip and your eyes take on the irresistibly cute 🥺 shape, has an enchanting effect on me. It's like a visual symphony of sweetness that never fails to melt my heart.                    
                    </p>
                </td>
            </tr>
            
            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        The peace you bring into my life is something I cherish deeply. 
                        When I'm with you, it's as if I step into another universe, a place of 
                        calmness. Your presence has a soothing effect, creating an atmosphere 
                        where worries fade away, and peace becomes the prevailing emotion.                    
                    </p>
                </td>
            </tr>

            <tr>
                <td class="d-flex">
                    <img src="https://res.cloudinary.com/ddsytdpy4/image/upload/v1706274008/daisy_rfobhj.png" alt="" class="img-s align-items-start">
                </td>
                <td>
                    <p class="tabletex">
                        Your unwavering commitment and belief in me, even after everything, is the most cherished aspect of our connection. You inspire me to become a better man, and I am committed to being the one who takes care of you, protects you, pampers you, and loves you the way you truly deserve. My love for you, meri gilhari 🐿️, is an enduring flame that only grows stronger with each passing day.                    
                    </p>
                </td>
            </tr>





        </table>

        <h3> I know I know you must be thinking that how stupid kartik is who name a section 10 things i love about you and write so many but babe i couldn't help myself. I need to ask you something so can you press the button below this text.</h3>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-4">
            <a href="/Canibeyourvalentine" class="btn btn-danger">
                Will You
            </a>
        </div>
    </div>